Django==1.11.29
django-admin-bootstrapped==2.3.5
pytz==2015.2
simplejson==3.6.5
xlrd==0.9.3
psycopg2==2.6.1
django_extensions==1.5.2
django-pipeline==1.5.0
boto==2.34.0
django-storages-redux==1.2
django-dirtyfields==0.7
https://github.com/SeaAroundUs/species-distribution/tarball/a383444f6ad1247cd80a55928dd372bec2ad6179#egg=species_distribution-2.0.1
https://github.com/SeaAroundUs/topojson.py/tarball/111bfd80fd338ac5d951d8d5ada8ee1471e00a31#egg=topojson.py
