Django==1.8
django-admin-bootstrapped==2.3.5
pytz==2015.2
simplejson==3.6.5
xlrd==0.9.3
psycopg2==2.6
django_extensions==1.5.2
django-pipeline==1.5.0
boto==2.34.0
django-storages-redux==1.2
-e git+https://github.com/SeaAroundUs/species-distribution.git#egg=species_distribution
