{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Distribution{% endblock %}
{% block content %}
    <div id="distribution" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Distribution</h3>

                <pre id="messageConsole" class="console">Run distribution on selected taxa</pre>

                <div id="modal" class="modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <span class="x glyphicon glyphicon-remove"></span>
                            <h1>
                                Distribution for <span id="taxon_name"></span>
                                (<span id="taxon_key"></span>)
                            </h1>
                            <div id="gridMap"></div>
                        </div>
                    </div>
                </div>

                <ul class="">
                    {% for taxon in taxa %}
                        <li>
                            {{ taxon.taxon_key}} - {{ taxon.common_name }} ({{ taxon.scientific_name }})
                            <span
                                data-taxon_key="{{taxon.taxon_key}}"
                                data-csrfmiddlewaretoken="{{csrf_token}}"
                                class="glyphicon glyphicon-refresh run">
                            </span>

                            <a
                                data-taxon_key="{{taxon.taxon_key}}"
                                data-taxon_name="{{taxon.common_name}}"
                                href="#" class="view-taxon-link">
                                (view)
                            </a>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
