{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Distribution{% endblock %}
{% block content %}
    <div id="distribution" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Distribution</h3>
                <input class="form-control search-query" name="search" type="text" placeholder="Search">
                <div id="modal" class="modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <span class="x glyphicon glyphicon-remove"></span>
                            <h2>
                                Distribution for <span id="taxon_name"></span>
                                (<span id="taxon_key"></span>)
                            </h2>
                            <div id="gridMap"></div>
                            <a style="cursor: pointer" data-taxon_key="" data-taxon_name="" id="aquamaps-link">Compare with Aquamaps</a>
                            <span class="glyphicon glyphicon-refresh spin"></span>
                            <div id="aquamaps"></div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered">
                    <tr class="header">
                        <th>Taxon key</th>
                        <th>Common name</th>
                        <th>Scientific name</th>
                        <th>Distribution Timestamp</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for taxon in taxa %}
                        <tr class="data">
                            <td class="taxon_key">
                                <a href="/admin/catch/taxon/{{taxon.taxon_key}}">
                                    {{ taxon.taxon_key }}
                                </a>
                                <a class="anchor" name="{{ taxon.taxon_key }}"></a>
                            </td>
                            <td class="common_name">{{ taxon.common_name }}</td>
                            <td class="scientific_name">{{ taxon.scientific_name }}</td>
                            <td>{{ taxon.distribution_log.modified_timestamp }}</td>
                            <td>
                                <button
                                    data-taxon_key="{{taxon.taxon_key}}"
                                    data-csrfmiddlewaretoken="{{csrf_token}}"
                                    class="run">
                                    Regenerate distribution
                                </button>
                            </td>
                            <td>
                                <button
                                    data-taxon_key="{{taxon.taxon_key}}"
                                    data-taxon_name="{{taxon.common_name}}"
                                    data-taxon_level="{{taxon.taxon_level_id}}"
                                    class="view-taxon-link">
                                    View distribution
                                </button>
                            </td>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
