{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Health{% endblock %}
{% block content %}
    <div id="adhoc" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Ad hoc queries</h3>
                {% if query %}
                    <div class="well">
                        {{ query.query }}
                    </div>

                    <div class="forms">
                        <form class="form-inline run-query" method="post" action="{% url 'adhoc' %}">
                            {% csrf_token %}
                            {{ form }}
                            <div class="form-group">
                                <button class="btn btn-primary" {{ runnable|yesno:'"",disabled="disabled"' }}>
                                    Run query
                                </button>
                            </div>
                        </form>

                        <form class="form-inline approve-query" method="post" action="{% url 'adhoc' %}">
                            {% csrf_token %}
                            {{ approve_form }}
                            <div class="form-group">
                                <button class="btn btn-info" {{ approveable|yesno:'"",disabled="disabled"' }}>
                                    Approve query
                                </button>
                            </div>
                        </form>

                        <form class="form-inline authorize-user" method="post" action="{% url 'adhoc' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ authorize_form }}
                            </div>
                            <div class="form-group">
                                <button class="btn btn-warning" {{ authorizable|yesno:'"",disabled="disabled"' }}>
                                    Authorize user
                                </button>
                            </div>
                        </form>
                    </div>

                    <p>{{ query.notes }}</p>
                    <p>Created by {{ query.created_by_auth_user }}</p>
                    <p>Approved by {{ query.reviewed_by_auth_user|default:'nobody' }}</p>
                    {% if query.approved_users %}
                        <p>Authorized for use by {{ query.approved_users|join:', ' }}</p>
                    {% else %}
                        <p>Authorized for use by nobody</p>
                    {% endif %}
                    <p>
                        {% if query.last_executed %}
                            Last execution by {{ query.last_executed_by_auth_user }} on {{ query.last_executed }}
                        {% else %}
                            <i>Never executed</i>
                        {% endif %}
                    </p>

                {% elif queries %}
                    <ul>
                        {% for q in queries %}
                            <li>
                                <a href="{% url 'adhoc' %}?id={{ q.id }}">
                                    {{ q.query|truncatechars:100 }}
                                </a>
                                {{ q.notes|truncatechars:100 }}
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p><i>No active ad hoc queries have been approved for your use</i></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
