{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Browse & Upload{% endblock %}
{% block content %}
    <div id="browse-upload" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Browse & Upload</h3>

                <pre id="messageConsole" class="console">Upload a new file</pre>

                <form role="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select file</span>
                            <input id="fileupload" type="file" name="file">
                        </span>
                    </div>
                </form>

                <h3>Generate a working set</h3>

                <div role="form" class="working-set">
                    {% for field, pretty_field, values in fields %}
                        <div class="form-group">
                            <label for="{{ field }}">{{ pretty_field }}</label>
                            <button id="add_{{ field }}" class="btn btn-default add-button">
                                <i class="glyphicon glyphicon-plus-sign"></i> Add
                            </button>
                            <select id="{{ field }}" name="{{ field }}">
                                <option>-- SELECT --</option>
                                <option value="{{ field }}=0">(ERROR)</option>
                                {% for value in values %}
                                    <option value="{{ field }}={{ value | first }}">{{ value | last }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <label for="working-query">Working set query</label>

                        <select readonly="readonly" multiple="multiple" id="working-query"></select>

                        <button id="view-data" class="btn btn-primary" disabled="disabled">
                            <i class="glyphicon glyphicon-eye-open"></i> View data
                        </button>

                        <button id="clear-query" class="btn btn-default">
                            <i class="glyphicon glyphicon-remove"></i> Clear query
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
