{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Browse & Upload{% endblock %}
{% block content %}
    <div id="browse-upload" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="section">
                    <h3>Upload new reference</h3>
                    <p>
                        Upload a new reference document to S3 to associate catch data sets with. The document
                        will also be added to the reference table.
                    </p>

                    <form role="form" enctype="multipart/form-data" class="upload-ref">
                        <div class="form-group">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Select reference file</span>
                                <input id="refupload" type="file" name="file">
                            </span>
                        </div>
                    </form>
                </div>

                <div class="section">
                    <h3>Upload new catch data (<a href="/static/template.xlsx" target="_blank">current template</a>)</h3>
                    <p>
                        Choose a reference to associate the catch date with (optional) then upload the
                        data into the available data. View, edit, and commit the data by generating a working
                        set with the controls below.
                    </p>

                    <pre id="messageConsole" class="console">Upload a new file</pre>

                    <form role="form" enctype="multipart/form-data" class="upload-file">
                        <div class="form-group">
                            <label for="reference">Reference:</label>
                            <select id="reference" name="reference">
                                <option value="0">-- SELECT --</option>
                                {% for id, ref in references %}
                                    <option value="{{ id }}">{{ ref }} ({{ id }})</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <input type="text" id="comment" name="comment" />
                        </div>

                        <div class="form-group">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Select data file</span>
                                <input id="fileupload" type="file" name="file">
                            </span>
                        </div>
                    </form>
                </div>

                <div class="section">
                    <h3>Generate a working set</h3>
                    <p>
                        Select one or more values from one or more groups then press "View Data" to generate
                        a working set to view, edit, and commit.
                    </p>

                    <div role="form" class="working-set">
                        {% for field, pretty_field, values in fields %}
                            <div class="form-group">
                                <label for="{{ field }}">{{ pretty_field }}</label>
                                <button id="add-{{ field }}" class="btn btn-default add-button">
                                    <i class="glyphicon glyphicon-plus-sign"></i> Add
                                </button>
                                <select id="{{ field }}" name="{{ field }}">
                                    <option>-- SELECT --</option>
                                    {% if field != 'warning_view' and field != 'error_view' %}
                                      <option value="{{ field }}=0">(ERROR)</option>
                                    {% endif %}
                                    {% for value in values %}
                                        <option value="{{ field }}={{ value | first }}">
                                        {% if value|length == 1 %}
                                            {{ value | last }}
                                        {%  elif field == 'taxon_key' %}
                                            {{ value.1 }} ({{ value | last }})
                                        {% else %}
                                            {{ value | last }} ({{ value | first }})
                                        {% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <label for="yearRange">Year (range)</label>
                            <button id="add-year-range" class="btn btn-default add-range-button">
                                <i class="glyphicon glyphicon-plus-sign"></i> Add
                            </button>
                            <div class="range">
                                <label>Min year:</label>
                                <input type="text" id="yearRangeMin" name="yearRangeMin" class="rangeMin" />
                            </div>
                            <div class="range">
                                <label>Max year:</label>
                                <input type="text" id="yearRangeMax" name="yearRangeMax" class="rangeMax" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="amountRange">Catch amount (range)</label>
                            <button id="add-amount-range" class="btn btn-default add-range-button">
                                <i class="glyphicon glyphicon-plus-sign"></i> Add
                            </button>
                            <div class="range">
                                <label>Min amount:</label>
                                <input type="text" id="amountRangeMin" name="amountRangeMin" class="rangeMin" />
                            </div>
                            <div class="range">
                                <label>Max amount:</label>
                                <input type="text" id="amountRangeMax" name="amountRangeMax" class="rangeMax" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="working-query">Working set query</label>

                            <select readonly="readonly" multiple="multiple" id="working-query"></select>

                            <button id="view-data" class="btn btn-primary" disabled="disabled">
                                <i class="glyphicon glyphicon-eye-open"></i> View data
                            </button>

                            <button id="remove-selected" class="btn btn-default">
                                <i class="glyphicon glyphicon-minus"></i> Remove Selected
                            </button>

                            <button id="clear-query" class="btn btn-default">
                                <i class="glyphicon glyphicon-remove"></i> Clear query
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
