{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Browse & Upload{% endblock %}
{% block content %}
    <div id="browse-upload" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Browse & Upload</h3>

                <pre id="messageConsole" class="console">Upload a new file</pre>

                <form role="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select file</span>
                            <input id="fileupload" type="file" name="file">
                        </span>
                    </div>
                </form>

                <h3>Generate a working set</h3>

                <div role="form" class="working-set">
                    {% for field, pretty_field, values in fields %}
                        <div class="form-group">
                            <layer for="{{ field }}">{{ pretty_field }}</layer>
                            <button id="add_{{ field }}" class="btn btn-default">
                                <i class="glyphicon glyphicon-plus-sign"></i> Add
                            </button>
                            <select id="{{ field }}" name="{{ field }}">
                                <option>-- SELECT --</option>
                                <option value="0">(ERROR)</option>
                                {% for value in values %}
                                    <option value="{{ value | first }}">{{ value | last }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}

                    <span class="btn btn-primary">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <span>View data</span>
                    </span>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
