{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Edit & Normalize{% endblock %}
{% block extra_urls %}
<input type="hidden" id="uploadedDataJSON" class="djangoURL" value="{% url 'uploaded-data-json' file_id page %}" />
<input type="hidden" id="saveData" class="djangoURL" value="{% url 'save-data' %}" />
<input type="hidden" id="autoSaveData" class="djangoURL" value="{% url 'autosave' %}" />
<input type="hidden" id="normalizeData" class="djangoURL" value="{% url 'normalize-data' %}" />
<input type="hidden" id="commitData" class="djangoURL" value="{% url 'commit-data' %}" />
{% endblock %}
{% block content %}
    <div id="edit-normalize" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Edit & Normalize</h3>

                <pre id="messageConsole" class="console"> </pre>

                <div class="form-group table-controls">
                    <button name="normalize" id="normalize" class="btn btn-info" disabled>Normalize Page</button>
                    <span id="error-count">0</span>
                    <span id="warning-count">0</span>
                    <button name="commit" id="commit" class="btn btn-success" disabled>Commit Page</button>

                    <button name="save" id="save" class="btn btn-primary" disabled>Save Page</button>
                    <label><input type="checkbox" name="autosave" id="autosave"
                                  autocomplete="off" disabled> Autosave</label>

                    <input id="search_field" type="search" class="form-control" placeholder="Search" disabled />
                </div>

                <div id="reconDataTableElement" class="table-scrollable disabled"></div>

                {% if pages|length > 1 %}
                <nav>
                    <ul class="pagination">
                        {% if previous_page %}
                        <li>
                            <a href="{% url 'edit-normalize' file_id previous_page %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for linked_page in pages %}
                            <li{% if linked_page == page %} class="active"{% endif %}>
                                <a href="{% url 'edit-normalize' file_id linked_page %}">{{ linked_page }}</a>
                            </li>
                        {% endfor %}
                        {% if next_page %}
                            <li>
                                <a href="{% url 'edit-normalize' file_id next_page %}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
