{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Edit & Normalize{% endblock %}
{% block extra_urls %}
<input type="hidden" id="uploadedDataJSON" class="djangoURL" value="{% url 'uploaded-data-json' file_id page %}" />
<input type="hidden" id="saveData" class="djangoURL" value="{% url 'save-data' %}" />
<input type="hidden" id="normalizeData" class="djangoURL" value="{% url 'normalize-data' %}" />
<input type="hidden" id="commitData" class="djangoURL" value="{% url 'commit-data' %}" />
{% endblock %}
{% block content %}
    <div id="edit-normalize" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Edit & Normalize</h3>

                <pre id="messageConsole" class="console"> </pre>

                <div class="form-group table-controls">
                    <button name="normalize" id="normalize" class="btn btn-info" disabled>Normalize</button>
                    <span id="error-count">0</span>
                    <span id="warning-count">0</span>
                    <button name="commit" id="commit" class="btn btn-success" disabled>Commit</button>

                    <button name="save" id="save" class="btn btn-primary" disabled>Save</button>
                    <label><input type="checkbox" name="autosave" id="autosave" checked="checked"
                                  autocomplete="off" disabled> Autosave</label>

                    <input id="search_field" type="search" class="form-control" placeholder="Search" disabled />
                </div>

                <div id="reconDataTableElement" class="table-scrollable disabled"></div>
            </div>
        </div>
    </div>
{% endblock %}
