{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}Edit & Normalize{% endblock %}
{% block extra_urls %}
<input type="hidden" id="uploadedDataJSON" class="djangoURL" value="{% url 'uploaded-data-json' page %}?{{ request.GET.urlencode }}" />
<input type="hidden" id="saveData" class="djangoURL" value="{% url 'save-data' %}?{{ request.GET.urlencode }}" />
<input type="hidden" id="normalizeData" class="djangoURL" value="{% url 'normalize-data' %}?{{ request.GET.urlencode }}" />
<input type="hidden" id="commitData" class="djangoURL" value="{% url 'commit-data' %}?{{ request.GET.urlencode }}" />
<input type="hidden" id="deleteRow" class="djangoURL" value="{% url 'delete-row' %}" />
{% endblock %}
{% block content %}
    <div id="edit-normalize" class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Edit & Normalize</h3>
                <p>
                    Edit the data in the table below then press "Save & Normalize" to normalize the data and save it.
                    Once there are no more errors the option to commit the data is available. Red cells are errors and
                    will block commits. Yellow cells are warnings that should be reviewed but will not block commits.
                    Grey cells are read-only and are only changed when their associated cells are changed and the data
                    is normalized. Green cells have been commit.
                </p>

                <pre id="messageConsole" class="console"> </pre>

                <div class="form-group table-controls">
                    <button name="normalize" id="normalize" class="btn btn-info" disabled>Save &amp; Normalize Page</button>
                    <span id="error-count">0</span>
                    <span id="warning-count">0</span>
                    <button name="commit" id="commit" class="btn btn-success" disabled>Commit Page</button>

                    <input id="search_field" type="search" class="form-control" placeholder="Search" disabled />
                </div>

                <div id="reconDataTableElement" class="table-scrollable disabled"></div>

                {% if pages|length > 1 %}
                <nav>
                    <ul class="pagination">
                        {% if previous_page %}
                        <li>
                            <a href="{% url 'edit-normalize' %}?{{ querystring }}&page={{ previous_page }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for linked_page in pages %}
                            <li{% if linked_page == page %} class="active"{% endif %}>
                                <a href="{% url 'edit-normalize' %}?{{ querystring }}&page={{ linked_page }}">{{ linked_page }}</a>
                            </li>
                        {% endfor %}
                        {% if next_page %}
                            <li>
                                <a href="{% url 'edit-normalize' %}?{{ querystring }}&page={{ next_page }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
