{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}File Upload{% endblock %}
{% block content %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne">
                        <h4>Step 1: Upload Standardised Reconstruction Data File</h4>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    [upload an excel sheet that has been formatted for input]
                    <form role="form">
                        <div class="form-group">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select file</span>
                        <input id="fileupload" type="file" name="file" multiple>
                    </span>
                        </div>
                    </form>
                    <!-- progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    [display success / fail message after file upload]
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                        <h4>Step 2: Review And Normalize Data</h4>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <table id="reconstruction-data-table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th id="id">ID</th>
                                <th id="year">Year</th>
                                <th id="amount">Amount</th>
                                <th id="country_fishing">Country Fishing</th>
                                <th id="flag">Flag</th>
                                <th id="country_id">country_id</th>
                                <th id="eez_area">EEZ Area</th>
                                <th id="eez_area_id">eez_area_id</th>
                                <th id="eez_sub_area">EEZ Subarea</th>
                                <th id="eez_sub_area_id">eez_sub_area_id</th>
                                <th id="fao_area">FAO Area</th>
                                <th id="other_area">Other Area</th>
                                <th id="taxon_name">Taxon Name</th>
                                <th id="original_fao_name">Original FAO Name</th>
                                <th id="taxon_key">taxon_key</th>
                                <th id="sector">Sector</th>
                                <th id="sector_id">sector_id</th>
                                <th id="catch_type">Catch Type</th>
                                <th id="catch_type_id">catch_type_id</th>
                                <th id="notes">Notes</th>
                            </tr>
                        </thead>
                    </table>
                    <span class="btn btn-success normalize-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Normalize</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                       aria-expanded="false" aria-controls="collapseThree">
                        <h4>Step 3: Finalize And Commit Data</h4>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}