{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}File Upload{% endblock %}
{% block content %}
    <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select file</span>
                            <input id="fileupload" type="file" name="file" multiple>
                        </span>
                    </div>
                </form>
                <pre id="messageConsole" class="console">Upload reconstruction data file</pre>

                <div class="form-group table-controls">
                    <button name="normalize" id="normalize" class="btn btn-default" disabled>Normalize</button>
                    <span id="error-count">0</span>
                    <button name="save" id="save" class="btn btn-default" disabled>Save</button>
                    <label><input type="checkbox" name="autosave" id="autosave" checked="checked"
                                  autocomplete="off" disabled> Autosave</label>
                    <input id="search_field" type="search" class="form-control" placeholder="Search" disabled />
                </div>

                <div id="reconDataTableElement" class="table-scrollable disabled"></div>
            </div>
        </div>
    </div>
{% endblock %}
