{% extends '_layouts/base.html' %}
{% load staticfiles %}
{% block title %}File Upload{% endblock %}
{% block content %}
    <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select file</span>
                            <input id="fileupload" type="file" name="file" multiple>
                        </span>
                    </div>
                </form>
                <p><pre id="messageConsole" class="console">Upload reconstruction data file</pre></p>


                <p>
                    <button name="normalize" id="normalize">Normalize</button>
                    <button name="save" id="save">Save</button>
                    <label><input type="checkbox" name="autosave" id="autosave" checked="checked"
                                  autocomplete="off"> Autosave</label>
                    <input id='search_field' type="search" placeholder="Search" />
                </p>
                <div id="reconDataTableElement" class="table-scrollable"></div>
            </div>
        </div>
    </div>
{% endblock %}
