        {% load staticfiles %}
        <meta http-equiv="Content-type" content="text/html">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.0/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.0/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/handsontable-0.12.4/handsontable.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-2.1.1/fileupload/jquery.fileupload.css' %}">
        <link rel="stylesheet" href="{% static 'css/recon.css' %}">