<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#recon-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse" id="recon-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'recon-home' %}">
                    <span class="glyphicon glyphicon-home"></span> Reconstruction Data</a>
                </li>

                <li><a href="{% url 'browse-upload' %}">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Browse & Upload </a>
                </li>

                <li><a href="{% url 'admin:index' %}">
                    <span class="glyphicon glyphicon-eye-open"></span> Lookup Tables </a>
                </li>

                <li><a href="{% url 'health' %}">
                    <span class="glyphicon glyphicon-heart"></span> Health </a>
                </li>

                <li><a href="{% url 'distribution:index' %}">
                    <span class="glyphicon glyphicon-th-list"></span> Distribution </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
