    {% load staticfiles %}
    <script src="{% static 'js/jquery-2.1.1/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.3.0/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moment-2.8.3/moment.min.js' %}"></script>
    <script src="{% static 'js/handsontable-0.12.4/handsontable.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.1/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.1/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.1/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.1/fileupload/jquery.fileupload.js' %}"></script>
