{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reconstruction Data | {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-type" content="text/html">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% stylesheet 'styles' %}
    </head>
    <body role="document">
        <input type="hidden" id="catchFieldsJSON" class="djangoURL" value="{% url 'catch-fields-json' %}" />
        <input type="hidden" id="uploadJSON" class="djangoURL" value="{% url 'upload-json' %}" />
        {% block extra_urls %}{% endblock %}

        <div id="maindiv">
            {% include '_includes/nav_bar.html' %}
            {% block content %}{% endblock %}
        </div>
        {% block extra-foot-script %}{% endblock %}
        {% javascript 'vendor' %}
        {% javascript 'scripts' %}
    </body>
</html>
