
#distribution .modal .x {
  float:left;
  z-index: 2;
  font-size: 2em;
  top: 10px;
  left: 10px;
}
.x:hover {
  cursor: pointer;
}
#distribution #aquamaps img {
  width: 100%;
}
#distribution .glyphicon.run {
  cursor: pointer;
}
#distribution .modal-content {
  text-align: center;
  padding-bottom: 10px;
}
#distribution #gridMap {
  width: 100%;
  height: 600px;
  position: relative;
}
#distribution table tr:hover {
  background-color: rgb(230,230,230);
}
#distribution table .anchor {
  /* anchors scroll past fixed header */
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}
#distribution [name=search] {
  margin-top: 10px;
  margin-bottom: 10px;
}

#distribution h2 {
  margin-top: 5px;
}

#distribution .glyphicon-refresh {
  font-size: 30px;
  display: none;
}
table.tablesorter thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(/static/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(/static/img/desc.gif);
}
