
#distribution .modal .x {
  float:left;
  z-index: 2;
  font-size: 2em;
  top: 10px;
  left: 10px;
}
#distribution .modal .modal-dialog {
  width: 100%;
}
#distribution .modal .modal-dialog #aquamaps-missing {
  font-size: 0.5em;
}
#distribution .modal .modal-content #maps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#distribution .modal .modal-content #maps #aquamaps {
  margin-top: 60px;
}
.x:hover {
  cursor: pointer;
}
#distribution #aquamaps img {
  width: 100%;
}
#distribution .glyphicon.run {
  cursor: pointer;
}
#distribution .modal-content {
  text-align: center;
  padding-bottom: 10px;
}
#distribution #gridMap {
  width: 100%;
  height: 600px;
  position: relative;
}
#distribution table tr:hover {
  background-color: rgb(230,230,230);
}
#distribution table .anchor {
  /* anchors scroll past fixed header */
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}
#distribution [name=search] {
  margin-top: -26px;
  margin-left: 15px;
  margin-right: 15px;
  position: fixed;
}

#distribution h2 {
  margin-top: 5px;
}

#distribution .glyphicon-refresh {
  font-size: 30px;
  display: none;
}

#distribution button:disabled
{
  cursor: default;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #ffffff;
}

table.tablesorter thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(/static/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(/static/img/desc.gif);
}
