body {
  font-size: 140%;
  padding-top: 75px;
  padding-bottom: 20px;
}

.table-scrollable {
  overflow: auto;
}

.table-controls {
  overflow: auto;
  zoom: 1;
}

.table-controls #error-count:before {
  content: 'Errors: ';
}

.table-controls #error-count {
  margin-right: 15px;
}

.table-controls > * {
  margin-right: 5px;
}

.table-controls input#search_field {
  margin-left: 10px;
  display: inline-block;
  width: 30%;
}

#reconDataTableElement {
  position: relative;
}

#reconDataTableElement.disabled:before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  background: #ddd;
  opacity: 0.5;
  z-index: 1000;
}
