body {
  font-size: 140%;
  padding-top: 75px;
  padding-bottom: 20px;
}

button:focus {
  outline: 0 !important;
}

.table-controls {
  overflow: auto;
  zoom: 1;
  position: relative;
}

.table-controls .click-message {
  display: none;
  position: absolute;
  top: 0;
  left: 340px;
  border: 1px solid #333;
  z-index: 100;
  background: #fff;
  padding: 5px 10px;
}

.table-controls label {
  font-weight: normal;
}

.table-controls #total-count {
  color: green;
}

.table-controls #error-count, .table-controls #warning-count {
  cursor: pointer;
}

.table-controls #error-count:before {
  content: 'Errors: ';
  color: #333;
}

.table-controls #error-count {
  color: green;
}

.table-controls #error-count.errors, .glyphicon.red {
  color: red;
}

.glyphicon.yellow {
  color: gold;
}

.table-controls #warning-count:before {
  content: 'Warnings: ';
  color: #333;
}

.table-controls #warning-count {
  color: #333;
}

.table-controls #commit {
  margin-right: 15px;
}

.table-controls > * {
  margin-right: 5px;
}

.table-controls input#search_field {
  margin-left: 10px;
  display: inline-block;
  width: 30%;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

table td.warning {
  background-color: yellow;
}

span.warning-reason {
  display: block;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 0.15em;
  background: #fefefe;
  width: 200px;
  padding: 5px 10px;
  z-index: 10;
}

#reconDataTableElement {
  overflow: hidden;
  height: 500px;
}

.handsontable td.error,
.handsontable td.warning.error,
.handsontable td.readOnly.error,
.handsontable td.readOnly.warning.error {
  background-color: #f9abab;
}

.handsontable td.warning,
.handsontable td.readOnly.committed.warning,
.handsontable td.committed.warning,
.handsontable td.readOnly.warning {
  background-color: #EEE8AA;
}

.handsontable td.committed,
.handsontable td.readOnly.committed {
  background-color: #D5F7E9;
}

.handsontable td.readOnly {
  color: #333;
  background-color: #eaeaea;
}

#browse-upload .section {
  margin-bottom: 25px;
}

#browse-upload .upload-ref .form-group {
  display: inline;
  margin-right: 25px;
}

#browse-upload .upload-file .form-group {
  display: inline;
  margin-right: 25px;
}

#browse-upload .upload-file .form-group input#comment {
  width: 300px;
}

#browse-upload .normalize-source-file .form-group {
  display: inline;
  margin-right: 25px;
}

#browse-upload .working-set .form-group {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
}

#browse-upload .working-set .form-group select {
  max-width: 300px;
}

#browse-upload .working-set .form-group select#working-query {
  width: 100%;
  max-width: 100%;
  height: 150px;
}

#browse-upload .working-set .form-group label,
#browse-upload .working-set .form-group select#working-query {
  display: block;
  margin-bottom: 10px;
}

#browse-upload .working-set .form-group div.range {
  float: right;
  margin-right: 100px;
}

#browse-upload .working-set .form-group div.range label {
  display: inline;
}

#health span.error {
  color: red;
}

#health span.clear {
  color: green;
}

#health span.warning {
  color: yellow;
}

#health span.warning, span.error {
  font-weight: bold;
}

.modal .modal-dialog {
  width: 70%;
  overflow: auto;
  word-wrap: break-word;
}

#warning-modal .modal-body a, #error-modal .modal-body a {
  font-weight: bold;
}

#warning-modal .modal-footer .desc , #error-modal .modal-footer .desc {
  float: left;
  font-weight: bold;
}

#warning-modal .modal-footer .clipboard , #error-modal .modal-footer .clipboard {
  float: right;
  color: green;
}

#adhoc .forms {
  margin-bottom: 25px;
}

#adhoc .forms form {
  display: inline-block;
  margin-right: 15px;
}

#adhoc .forms form label {
  margin-right: 5px;
}
