body {
  font-size: 140%;
  padding-top: 75px;
  padding-bottom: 20px;
}

button:focus {
  outline: 0 !important;
}

.table-controls {
  overflow: auto;
  zoom: 1;
}

.table-controls label {
  font-weight: normal;
}

.table-controls #error-count:before {
  content: 'Errors: ';
  color: #333;
}

.table-controls #error-count {
  color: green;
}

.table-controls #error-count.errors {
  color: red;
}

.table-controls #warning-count:before {
  content: 'Warnings: ';
  color: #333;
}

.table-controls #commit {
  margin-right: 15px;
}

.table-controls > * {
  margin-right: 5px;
}

.table-controls input#search_field {
  margin-left: 10px;
  display: inline-block;
  width: 30%;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

table td.warning {
  background-color: yellow;
}

span.warning-reason {
  display: block;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 0.15em;
  background: #fefefe;
  width: 200px;
  padding: 5px 10px;
  z-index: 10;
}

.handsontable td.htDimmed {
  color: #333;
  background-color: #f3f3f3;
}

#distribution .glyphicon.run {
  cursor: pointer;
}
